<config>    
    <modules>
        <Aristos_Test>
            <version>0.1.0</version>
        </Aristos_Test>
    </modules>
    <frontend>
        <routers>
            <aristos>
                <use>standard</use>
                <args>
                    <module>Aristos_Test</module>
                    <frontName>aristos</frontName>
                </args>
            </aristos>
        </routers>
        <layout>
            <updates>
                <aristos_test>
                    <file>aristos_test.xml</file>
                </aristos_test>
            </updates>
        </layout>
    </frontend>
</config>