/app/etc/modules/*
!/app/etc/modules/Magentotutorial_Helloworld.xml
!/app/etc/modules/Aristos_Test.xml
/dev/
/downloader/
/errors/
/includes/
/js/
/lib/
/media/
/shell/
/skin/
/var/
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/mage
/php.ini.sample
/RELEASE_NOTES.txt
/app/code/*
!/app/code/local/
/.idea/
/app/locale/
/app/.htaccess
/app/bootstrap.php
/app/Mage.php
/app/design/adminhtml/
/app/design/frontend/base/default/etc/
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/local.xml
!/app/design/frontend/base/default/layout/local2.xml
!/app/design/frontend/base/default/template/magentotutorial/
!/app/design/frontend/base/default/template/magentotutorial/helloworld/simple_page.phtml
/app/design/frontend/base/default/template/authorizenet/
/app/design/frontend/base/default/template/bundle/
/app/design/frontend/base/default/template/callouts/
/app/design/frontend/base/default/template/captcha/
/app/design/frontend/base/default/template/catalog/
/app/design/frontend/base/default/template/cataloginventory/
/app/design/frontend/base/default/template/catalogsearch/
/app/design/frontend/base/default/template/centinel/
/app/design/frontend/base/default/template/checkout/
/app/design/frontend/base/default/template/cms/
/app/design/frontend/base/default/template/contacts/
/app/design/frontend/base/default/template/core/
/app/design/frontend/base/default/template/customer/
/app/design/frontend/base/default/template/directory/
/app/design/frontend/base/default/template/downloadable/
/app/design/frontend/base/default/template/email/
/app/design/frontend/base/default/template/giftmessage/
/app/design/frontend/base/default/template/googleanalytics/
/app/design/frontend/base/default/template/moneybookers/
/app/design/frontend/base/default/template/newsletter/
/app/design/frontend/base/default/template/oauth/
/app/design/frontend/base/default/template/page/
/app/design/frontend/base/default/template/pagecache/
/app/design/frontend/base/default/template/paygate/
/app/design/frontend/base/default/template/payment/
/app/design/frontend/base/default/template/paypal/
/app/design/frontend/base/default/template/persistent/
/app/design/frontend/base/default/template/poll/
/app/design/frontend/base/default/template/productalert/
/app/design/frontend/base/default/template/rating/
/app/design/frontend/base/default/template/reports/
/app/design/frontend/base/default/template/review/
/app/design/frontend/base/default/template/rss/
/app/design/frontend/base/default/template/sales/
/app/design/frontend/base/default/template/sendfriend/
/app/design/frontend/base/default/template/shipping/
/app/design/frontend/base/default/template/tag/
/app/design/frontend/base/default/template/tax/
/app/design/frontend/base/default/template/wishlist/
/app/design/frontend/base/default/template/xmlconnect/
/app/design/frontend/default/
/app/design/frontend/rwd/
/app/design/install/*
/app/etc/config.xml
/app/etc/local.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/design/install/default/
